# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow file requires a free account on Semgrep.dev to
# manage rules, file ignores, notifications, and more.
#
# See https://semgrep.dev/docs

name: Semgrep

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '21 11 * * 4' #jn ejecuci칩n cada jueves a las 11:21 (UTC)

permissions:
  contents: read

jobs:
  semgrep:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Scan
    runs-on: ubuntu-latest   #jn s.o. de la VM que GitHub Actions asignar치 en Azure
    steps:
      # Checkout project source
      - uses: actions/checkout@v4   #jn clona el c칩digo en la VM temporal

      - name: Instalar Semgrep con pip en la VM #jn (gestor de paquetes para Python)
        run: pip install semgrep            
        
      # Scan code using project's configuration on https://semgrep.dev/manage
      - name: Run Semgrep scan              
        run: #jn|
            semgrep scan --sarif --output=semgrep.sarif --config=auto #jn\
            #jn --include=**/*.lock --include=**/package-lock.json #jn necesario para SCA
        env:
            SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}   #jn a침adido

      #jn Verificar si se ha grabado el archivo SARIF
      - name: Listar los archivos SARIF     
        run: ls -l semgrep.sarif            

      # Upload SARIF file generated in previous step
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
        if: always()
        
      #jn Guarda el archivo SARIF como un artefacto para poder descargarlo del sistema de archivos de GitHub
      - name: Carga el SARIF artifact
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-sarif
          path: semgrep.sarif